/* You can add global styles to this file, and also import other style files */

@import "common-imports";
@import "container";
@import "scss/webkit-scrollbar";
@import "scss/perfect-scrollbar";
// @import "scss/web-player-overlay-theme";
@import "scss/media-page-header.scss";
@import "context-menu";
@import "app/web-player/context-menu/web-player-context-menu";
@import "scss/media-modal-autocomplete";

account-settings {
  padding: 15px;
}


//vazir font

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-FD.eot');
  src: url('/src/assets/fonts/Vazir-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-Bold-FD.eot');
  src: url('/src/assets/fonts/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-Bold-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-Bold-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-Light-FD.eot');
  src: url('/src/assets/fonts/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-Light-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-Light-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-Medium-FD.eot');
  src: url('/src/assets/fonts/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-Medium-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-Medium-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-Thin-FD.eot');
  src: url('/src/assets/fonts/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-Thin-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-Thin-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-Thin-FD.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url('/src/assets/fonts/Vazir-Black-FD.eot');
  src: url('/src/assets/fonts/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
  url('/src/assets/fonts/Vazir-Black-FD.woff2') format('woff2'),
  url('/src/assets/fonts/Vazir-Black-FD.woff') format('woff'),
  url('/src/assets/fonts/Vazir-Black-FD.ttf') format('truetype');
  font-weight: 900;
}

body, html {
  height: 100%;
  font-family: Vazir;
  font-weight: normal;
}